.page-header {
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: black;
    font-size: 160%;
    text-decoration: none;
}

.page-header p, .page-header a {
	font-size: 12px;
	color: gray;
}

.content {
    margin-left: 10%;
}

h1 {
	font-size: 160%;
	font-weight: bold;
}

h2{
	font-size: 140%;
}

h1, h2, h3, h4 {
    font-family: 'Black', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.entry-form textarea, .entry-form input {
    width: 100%;
}

.top-menu, .top-menu:link, .top-menu:visited, .top-menu:active, .top-menu:hover {
    color: black;
    font-size: 26pt;
    margin-right: 20px;
	float: right;
}

.top-menu:hover {
	color: cornflowerblue;
}

.entry {
    margin-bottom: 70px;
}

.entry h1 a, .post h1 a:visited {
    color: #000000;
}