{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Reactive Dog Journal 2.0</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="https://use.fontawesome.com/5df6036a1c.js"></script>
    {% block extrahead %}
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/entry.css' %}">
</head>
<body>
    <div class="page-header">
        <h1><a href="/">Reactive Dog Journal 2.0</a></h1>
        {% if user.is_authenticated %}
        <p class="top-menu-text">Hello, {{ user.username }}. You and Doggo will prevail! (<a href="{% url 'logout' %}"><small>Logout</small></a>)</p>
        {% else %}
        <a href="{%url 'login' %}" class="top-menu"><span class="fa fa-sign-in"></span></a>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'entry_new' %}" class="top-menu"><span class="fa fa-plus" title="New entry"></span></a>
        {% endif %}

		<a href="{% url 'entry_report' %}" class="top-menu"><span class="fa fa-area-chart" title="Report"></span></a>
		<a href="https://www.github.com/caleighm" class="top-menu"><span class="fa fa-github" title="GitHub"></span></a>
    </div>

    <div class="content container">
        <div class="row">
            {% block content %}
            {% endblock %}
        </div>
    </div>

	<div class="page-footer">
		<p>Developed by <a href="http://www.caleighm.com">Caleigh Minshall</a> in December 2016.</p>
	</div>
    {% block extrajs %}
    {% endblock %}
</body>
</html>